<div class="d-flex">
  
  <!-- SideBar -->
  <app-sidebar></app-sidebar>
  <!-- End SideBar -->

  <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifts">
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptate quae enim voluptatum commodi minus
        inventore officia sed dolor, quis, veritatis fugit molestias harum explicabo placeat aperiam quibusdam. Ducimus,
        ut.
      </div>
    </div>

  </div>

</div>